.product{
    flex: 5;
}
.userListWrap{
    display: flex;
    align-items: center;
    gap: 10px;
}
.userListImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.userListAction{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userListEdit{
    border: none;
    background-color: inherit;
    color: green;
    cursor: pointer;
}
.userListDelete{
color: red;
cursor: pointer;
}